body {
    font-family: 'Outfit', sans-serif;
    background-color: hsl(217, 54%, 11%);
}

hr {
    color:hsl(215, 51%, 70%);
    margin: 15px 10px 15px 1px;
}

.card {
    margin-top:100px;
    background-color: hsl(216, 50%, 16%);
    color: hsl(0, 0%, 100%);
}

.card-img-top {
    border: 5%;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.imagen {
    width: 30px;
    height: 30px;
    margin: 5px 20px 0 0;
    border: 1px hsl(0, 0%, 100%) solid;
    border-radius: 50%;
}

.card-text {
    color: hsl(215, 51%, 70%);
}

.imagen-small {
    padding-right: 5px;
}

.eth {
    color:hsl(178, 100%, 50%); 
}

.creation {
    color: hsl(215, 51%, 70%);
}
